{{#if success_message}}
    <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
        {{success_message}}
    </div>
{{/if}}

{{#if error_message}}
    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
        {{error_message}}
    </div>
{{/if}}