<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {{#each images}}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}" {{#if @first}} class="active" {{/if}} aria-current="true" aria-label="Slide {{@index}}"></button>
        {{/each}}
    </div>
    <div class="carousel-inner">
        {{#each images}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
                <img src="/images/products/{{this}}" class="d-block w-100" alt="Alt for {{this}} image">
            </div>
        {{/each}}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>